<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        <style>
            .lead {
                padding-top:10px;
                padding-bottom: 10px;
                padding-left: 6px;
                padding-right: 6px;
                margin-top: 10px;
                background-color: #f6f6f6;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <a href="/leads">Go back</a>
        <hr />
        <h1>This is the details of {{lead.first_name}} </h1>

        <p>Full name: {{ lead.first_name }} {{ lead.last_name }}
        <p>This person's age: {{ lead.age }}</p>
    </body>
</html>